{% extends 'layout.html' %}

{% block body %}
<h1>Account</h1>

	<h1>{{session.username}}'s info</h1>
  <small>Created by {{session.username}} on {{session.register_date}}</small>
	<ul class="list-group">
		<tr>
			<td><a href="dashboard" class="btn btn-primary pull-left">Cancel</a></td>
    <form action="{{url_for('delete_account', id=session.username)}}" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="DELETE" class="btn btn-danger">
		</form>
	</tr>
	</ul>
{% endblock %}
